numpy>=1.24
pandas>=2.0
matplotlib>=3.6
seaborn>=0.13
jupyterlab>=4.0
notebook>=6.5
scipy>=1.10
openpyxl>=3.1 # eğer excel okunuyorsa
xlrd>=2.0 # eski excel formatları için


# ekleyebileceğinizler (opsiyonel)
scikit-learn>=1.2
statsmodels>=0.14
plotly>=5.10
